apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-nginx-helm
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/anr2657/argocd-demo.git
    targetRevision: main
    path: helm-nginx
    helm:
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: demo

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
